.venv/
venv/
__pycache__/
*.pyc
.env
.idea/
.vscode/

# Ignore massive datasets if they are too big for GitHub (100MB limit)
Tweets.csv
Twitter_Analysis.csv
Misinformation_Data.csv

# Ignore huge generated models, or we can choose to upload them
# For now, let's keep models un-ignored unless they exceed 50-100MB.
# models/
n o d e _ m o d u l e s /  
 d i s t /  
 f r o n t e n d / n o d e _ m o d u l e s /  
 f r o n t e n d / d i s t /  

query